<li>
	{{name}}

	<button class="change-task" data-id="{{id}}" data-newtask="{{task}}">
		{{#if true}}Working{{else}}Completed{{/if}}
	</button>

	<button class="delete-task" data-id="{{this.id}}">Delete</button>
</li>