<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>You Got This!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- semantic UI css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-- local CSS  -->
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- Boostrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- semantic UI JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- semantic UI JS -->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- local JS -->
    <script src="/js/event.js"></script>
</head>

<body>
    <!-- Nav bar  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent ">
        <a class="navbar-brand" href="#">
            <div class="ui animated button" id="backToHome" tabindex="0">
                <div class="visible content">Let's add another event</div>
                <div class="hidden content">
                    <i class="large arrow alternate circle left outline icon"></i>
                </div>
            </div>
        </a>
    </nav>
    <h1 class="text-center">You Got This!</h1>



    <!-- prep work (event) -->
    <div class="ui center aligned basic segment">
        <div class="ui horizontal divider">
            <i class="large check icon"></i> Preparation Station
        </div>
    </div>
    <div class="container">
        <div class="row">



            <!-- section for appearance -->
            <div id="appearance" class="col">
                <h2 class="ui aligned icon header">
                    <i class="street view icon"></i>
                    Appearance
                </h2>

                <div class="ui left icon input">
                    <input type="text" class="new-task1" placeholder="Add task here..">
                    <i class="add icon"></i>
                </div>
                {{#each Object}}
                {{#each Tasks}}
                {{log this.dataValues.task}}
                <div class="ui form">
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" data-id="{{this.dataValues.id}}" class="edit"
                                id="hidden" value='10'>
                            <label data-app1=testing class="app1">{{this.dataValues.task}}</label>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/each}}
                {{!-- <div class="ui form">
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" value='20'>
                            <label data-name="testing" class="app2">Turtles</label>
                        </div>
                    </div>
                </div>
                <div class="ui form">
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" value='30'>
                            <label data-name="testing" class="app2">This</label>
                        </div>
                    </div>
                </div> --}}
                <div class="ui form">
                    <div class="inline field">
                        <div id="newAppBox" class="ui checkbox">

                        </div>
                    </div>
                </div>


            </div>
            <!-- section for researching companies -->
            <div id="research" class="col">
                <h2 class="ui aligned icon header">
                    <i class="keyboard icon"></i>
                    Researching
                </h2>
                <div class="ui left icon input">
                    <input type="text" class="new-task2" placeholder="Add task here..">
                    <i class="add icon"></i>
                </div>

                <div class="ui form">
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" value='40'>
                            <label data-name="testing" class="res1">Checkbox</label>
                        </div>
                    </div>
                </div>
                <div class="ui form">
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" value='50'>
                            <label data-name="testing" class="res2">Checkbox</label>
                        </div>
                    </div>
                </div>
                <div class="ui form">
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" value='60'>
                            <label data-name="testing" class="res3">Checkbox</label>
                        </div>
                    </div>
                </div>
                <div class="ui form">
                    <div class="inline field">
                        <div id="newResBox" class="ui checkbox">

                        </div>
                    </div>
                </div>



            </div>
            <!-- section for extra add ons -->
            <div id="documents" class="col">
                <h2 class="ui aligned icon header">
                    <i class="folder open icon"></i>
                    Documents
                </h2>
                <div class="ui left icon input">
                    <input type="text" class="new-task3" placeholder="Add task here..">
                    <i class="add icon"></i>
                </div>

                <div class="ui form">
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" value='70'>
                            <label data-name="testing" class="doc1">Checkbox</label>
                        </div>
                    </div>
                </div>

                <div class="ui form">
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" value='80'>
                            <label data-name="testing" class="doc2">Checkbox</label>
                        </div>
                    </div>
                </div>

                <div class="ui form">
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" value='90'>
                            <label data-name="testing" class="doc3">Checkbox</label>
                        </div>
                    </div>
                </div>
                <div class="ui form">
                    <div class="inline field">
                        <div id="newDocBox" class="ui checkbox">

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="ui hidden section divider"></div>



    <!--  during (event) tips/suggestions  -->
    <div class="ui horizontal divider">
        <i class="large arrow down icon"></i> Here are things to rememeber
    </div>
    <div class="ui placeholder segment">
        <div class="ui two column very relaxed stackable grid">
            <div class="column">
                <div class="ui centered header"> Completed Tasks (look how far you've come!)</div>
                <div class="ui aligned basic segment">
                    <div class="progress progress-striped active" style="height: 40px;">
                        <div class="bg-info progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; ">
                            <h3 class="bar-perc"></h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="middle aligned column">
                    {{#each Object}}
                    {{log this.dataValues.score}}
                    {{#unless dataValues.score}}

                    <ol class="ui list">
                        <li>Signing Up</li>
                        <li>User Benefits</li>
                        <li>User Types
                        </li>
                        <li>Deleting Your Account</li>
                    </ol>
                    <div class="ui teal labeled icon button" id="surveyBtn" tableindex="0">
                        Reflection
                        <i class="edit outline icon"></i>
                    </div>
                    {{else}}
                    <div>
                        <p>You gave yourself a score of: {{dataValues.score}}</p>
                    </div>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="ui vertical divider">
            <i class="exchange icon"></i>
        </div>
    </div>

<div class="modal fade" id="surveyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">How'd You Do?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="surveyQuestion1">How well prepared did you feel for the event?</label>
                            <select class="form-control" id="surveyQuestion1">
                                <option></option>
                                <option>1 (Completely unprepared)</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5 (On top of everything)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="surveyQuestion2">How anxious were you before the event?</label>
                            <select class="form-control" id="surveyQuestion2">
                                <option></option>
                                <option>1 (Totally panicked)</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5 (Cool as a cucumber)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="surveyQuestion3">How do you feel the event went?</label>
                            <select class="form-control" id="surveyQuestion3">
                                <option></option>
                                <option>1 (Horrible)</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5 (Fantastic)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="surveyQuestion4">How ready are you to try again?</label>
                            <select class="form-control" id="surveyQuestion4">
                                <option></option>
                                <option>1 (Completely unprepared)</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5 (I could go again right now)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="surveyQuestion5">Another question I cannot think of right now</label>
                            <select class="form-control" id="surveyQuestion5">
                                <option></option>
                                <option>1 (Completely unprepared)</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5 (I could go again right now)</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                    <div id="survey-submit" class="ui vertical animated button" tabindex="0">
                        <div class="hidden content">Login in</a></div>
                        <div class="visible content">
                            <i class="thumbs up outline icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>